<dialog id="edit-genre">
  <form action="/genres/<%= genreId %>/edit" method="post">
    <label for="genre">Change Name:</label>
    <input
      type="text"
      name="name"
      id="genre"
      value="<%= genreName %>"
      maxlength="50"
      minlength="1"
      required
    >
    <% if (games.length > 0) { %>
      <p>Remove Game(s):</p>
      <% if (games.length > 1) { %>
        <div class="associated-game-check">
          <input type="checkbox" id="toggle-all">
          <label class="checkbox-item select-all" for="toggle-all">
            Select All
          </label>
        </div>
      <% } %>
      <div class="associated-game-list">
        <% games.forEach(game => { %>
          <div class="associated-game">
            <input
              type="checkbox"
              name="gameIds"
              value="<%= game.id %>"
              class="game-checkbox"
              id="game-<%= game.id %>"
            >
            <label for="game-<%= game.id %>">
              <%= game.name %>
            </label>
          </div>
        <% }); %>
      </div>
    <% } %>
    <label for="password">Admin Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      maxlength="50" 
      minlength="1" 
      placeholder="Password"
      required
    >
    <button type="submit">Submit</button>
  </form>
  <button commandfor="edit-genre" command="close">
    Close
  </button>
</dialog>