<dialog id="edit-game">
  <form action="/games/<%= game.id %>/edit" method="post">
    <div class="edit-game-name">
      <label for="game">Change Name:</label>
      <input
        type="text"
        name="name"
        id="game"
        value="<%= game.name %>"
        maxlength="50"
        minlength="1"
        required
      >
    </div>
    <div class="edit-game-developer">
      <% if (game.developer_list.length > 0) { %>
        <div class="edit-game-developer-remove">
          <p>Remove Developer(s):</p>
          <% if (game.developer_list.length > 1) { %>
            <div class="associated-developer-check">
              <input type="checkbox" id="toggle-all-developers-remove">
              <label for="toggle-all-developers-remove">
                Select All
              </label>
            </div>
          <% } %>
          <div class="associated-developer-list">
            <% game.developer_list.forEach(developer => { %>
              <div class="associated-developer">
                <input
                  type="checkbox"
                  name="developerIds"
                  value="<%= developer.id %>"
                  class="developer-checkbox-remove"
                  id="developer-<%= developer.id %>"
                >
                <label for="developer-<%= developer.id %>">
                  <%= developer.name %>
                </label>
              </div>
            <% }); %>
          </div>
        </div>
      <% } %>
      <% if (allDevs.length > 0) { %>
        <div class="edit-game-developer-add">
          <p>Add Developer(s):</p>
          <% if (allDevs.length > 1) { %>
            <div class="all-developer-check">
              <input type="checkbox" id="toggle-all-developers-add">
              <label for="toggle-all-developers-add">
                Select All
              </label>
            </div>
          <% } %>
          <div class="all-developer-list">
            <% allDevs.forEach(dev => { %>
              <div class="all-developer">
                <input
                  type="checkbox"
                  name="allDeveloperIds"
                  value="<%= dev.id %>"
                  class="developer-checkbox-add"
                  id="all-developer-<%= dev.id %>"
                >
                <label for="all-developer-<%= dev.id %>">
                  <%= dev.name %>
                </label>
              </div>
            <% }); %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="edit-game-genre">
      <% if (game.genre_list.length > 0) { %>
        <div class="edit-game-genre-remove">
          <p>Remove Genre(s):</p>
          <% if (game.genre_list.length > 1) { %>
            <div class="associated-genre-check">
              <input type="checkbox" id="toggle-all-genres-remove">
              <label or="toggle-all-genres-remove">
                Select All
              </label>
            </div>
          <% } %>
          <div class="associated-genre-list">
            <% game.genre_list.forEach(genre => { %>
              <div class="associated-genre">
                <input
                  type="checkbox"
                  name="genreIds"
                  value="<%= genre.id %>"
                  class="genre-checkbox-remove"
                  id="genre-<%= genre.id %>"
                >
                <label for="genre-<%= genre.id %>">
                  <%= genre.name %>
                </label>
              </div>
            <% }); %>
          </div>
        </div>
      <% } %>
      <% if (allGenres.length > 0) { %>
        <div class="edit-game-genre-add">
          <p>Add Genre(s):</p>
          <% if (allGenres.length > 1) { %>
            <div class="all-genre-check">
              <input type="checkbox" id="toggle-all-genres-add">
              <label for="toggle-all-genres-add">
                Select All
              </label>
            </div>
          <% } %>
          <div class="all-genre-list">
            <% allGenres.forEach(genre => { %>
              <div class="all-genre">
                <input
                  type="checkbox"
                  name="allGenreIds"
                  value="<%= genre.id %>"
                  class="genre-checkbox-add"
                  id="all-genre-<%= genre.id %>"
                >
                <label for="all-genre-<%= genre.id %>">
                  <%= genre.name %>
                </label>
              </div>
            <% }); %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="edit-game-description">
      <label for="description">Edit Description:</label>
      <textarea name="description" id="description"><%= game.description %></textarea>
    </div>
    <div class="edit-game-release-date">
      <label for="release-date">Edit Release Date:</label>
      <% const formattedDate = new Date(game.release_date).toISOString().split('T')[0]; %>
      <input type="date" name="release_date" id="release-date" value="<%= formattedDate || '' %>">
    </div>
    <div class="edit-game-rating">
      <label for="rating">Edit Rating:</label>
      <input type="number" name="rating" id="rating" min="0" max="100" value="<%= game.rating %>">
    </div>
    <div class="edit-game-admin-password">
      <label for="password">Admin Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        maxlength="50"
        minlength="1"
        placeholder="Password"
        required
      >
    </div>
    <button type="submit">Submit</button>
  </form>
  <button commandfor="edit-game" command="close">
    Close
  </button>
</dialog>