<dialog id="edit-genre">
  <form action="/genres/<%= genreId %>/edit" method="post">
    <label for="genre">Change Name:</label>
    <input
      type="text"
      name="name"
      id="genre"
      value="<%= genreName %>"
      maxlength="50"
      minlength="1"
      required
    >
    <p>Remove Game(s):</p>
    <div class="associated-game-list">
      <% games.forEach(game => { %>
        <div class="associated-game">
          <input
            type="checkbox"
            name="gameIds"
            value="<%= game.id %>"
            id="game-<%= game.id %>"
          >
          <label for="game-<%= game.id %>">
            <%= game.name %>
          </label>
        </div>
      <% }); %>
    </div>
    <label for="password">Admin Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      maxlength="50" 
      minlength="1" 
      placeholder="Password"
      required
    >
    <button type="submit">Submit</button>
  </form>
  <button commandfor="edit-genre" command="close">
    Close
  </button>
</dialog>