<%- include('../partials/header') %>
<main>
  <div class="developers-page">
    <div class="developers-top">
      <h1>Developers</h1>
      <button command="show-modal" commandfor="add-dev">
        ADD A DEVELOPER
      </button>
    </div>
    <ul class="developers-list">
      <% if (developers && developers.length > 0) { %>
        <% developers.forEach(developer => { %>
          <li>
            <a href="/developers/<%= developer.id %>">
              <%= developer.name %>
            </a>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
  <%- include('../partials/addDeveloper') %>
</main>
<%- include('../partials/footer') %>