<%- include('../partials/header') %>
<main>
  <div class="game-detail">
    <img src="<%= game.image %>" alt="">
    <div class="game-detail-text" style="background-image: url('<%= game.background %>');">
      <h1><%= game.name %></h1>
      <p class="developers">
        <span class="emphasize">By:</span>
        <% game.developer_list.forEach((dev, index) => { %>
          <% if (dev.id) { %>
            <span>
              <a href="/developers/<%= dev.id %>">
                <%= dev.name %>
              </a>
              <%= index < game.developer_list.length - 1 ? ', ' : '' %>
            </span>
          <% } else { %>
            Unknown
          <% } %>
        <% }); %>
      </p>
      <p class="genres">
        <span class="emphasize">Genres:</span>
        <% game.genre_list.forEach((genre, index) => { %>
          <% if (genre.id) { %>
            <span><a href="/genres/<%= genre.id %>" class="genre-tag">
              <%= genre.name %></a><%= index < game.genre_list.length - 1 ? ', ' : '' %>
            </span>
          <% } else { %>
            N/A
          <% } %>
        <% }); %>
      </p>
      <p class="description">
        <span class="emphasize">Description:</span> <%= game.description || "None" %>
      </p>
      <p class="release-date">
        <span class="emphasize">Released:</span> <%= game.release_date || "Unknown" %>
      </p>
      <p class="rating">
        <span class="emphasize">MetaCritic Rating:</span> <%= game.rating || "N/A" %>
      </p>
      <p class="steam-id">
        <span class="emphasize">Steam ID:</span> <%= game.steam_id || "N/A" %>
      </p>
      <div class="game-detail-buttons">
        <button command="show-modal" commandfor="edit-game">
          EDIT
        </button>
        <button command="show-modal" commandfor="delete">
          DELETE
        </button>
      </div>
    </div>
  </div>
  <%- include('../partials/deleteItem') %>
  <%- include('../partials/editGame') %>
</main>
<%- include('../partials/footer') %>