<%- include('../partials/header') %>
<main>
  <h1><%= game.name %></h1>
  <div class="genres">
    <strong>Genres:</strong>
    <% game.genre_list.forEach(genre => { %>
      <% if (genre.id) { %>
        <a href="/genres/<%= genre.id %>" class="genre-tag">
          <%= genre.name %>
        </a>
      <% } else { %>
        N/A
      <% } %>
    <% }); %>
  </div>
  <div class="developers">
    <strong>By:</strong> 
    <% game.developer_list.forEach((dev, index) => { %>
      <% if (dev.id) { %>
        <a href="/developers/<%= dev.id %>">
          <%= dev.name %>
        </a>
        <%= index < game.developer_list.length - 1 ? ', ' : '' %>
      <% } else { %>
        Unknown
      <% } %>
    <% }); %>
  </div>
  <div class="description">
    <%= game.description %>
  </div>
</main>
<%- include('../partials/footer') %>