<%- include('../partials/header') %>
<main>
  <div class="all-games">
    <div class="games-top">
      <h1>All Games</h1>
      <button onclick="">ADD A GAME</button>
    </div>
    <div class="game-grid">
      <% if (games && games.length > 0) { %>
        <% games.forEach(game => { %>
          <div class="game-card" style="background-image: url('<%= game.background %>');">
            <a href="/games/<%= game.id %>">
              <img src="<%= game.image %>" alt="<%= game.name %>">
            </a>
            <h2>
              <a href="/games/<%= game.id %>">
                <% if (game.name.length > 38) { %>
                  <%= game.name.substring(0, 36) %>...
                <% }  else { %>
                  <%= game.name %>
                <% } %>
              </a>
            </h2>
          </div>
        <% }); %>
      <% } else { %>
        <p>No games found.</p>
      <% } %>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>