<%- include('../partials/header') %>
<main>
  <div class="genres-page">
    <div class="genres-top">
      <h1>Genres</h1>
      <button command="show-modal" commandfor="add-genre">
        ADD A GENRE
      </button>
    </div>
    <ul class="genres-list">
      <% if (genres && genres.length > 0) { %>
        <% genres.forEach(genre => { %>
          <li>
            <a href="/genres/<%= genre.id %>">
              <%= genre.name %>
            </a>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
  <%- include('../partials/addGenre') %>
</main>
<%- include('../partials/footer') %>