<%- include('../partials/header') %>
<main>
  <h1>Games in "<%= genreName %>"</h1> 
  <div class="game-grid">
    <% if (games && games.length > 0) { %>
      <% games.forEach(game => { %>
        <div class="game-card">
          <img src="<%= game.image %>" alt="<%= game.name %>">
          <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
          <p class="developers">
            By: 
            <% game.developer_list.forEach((dev, index) => { %>
              <% if (dev.id) { %>
                <a href="/developers/<%= dev.id %>"><%= dev.name %></a>
                <%= index < game.developer_list.length - 1 ? ', ' : '' %>
              <% } else { %>
                Unknown
              <% } %>
            <% }); %>
          </p>
          <p class="score">Rating: <%= game.rating || 'N/A' %></p>
        </div>
      <% }); %>
    <% } else { %>
      <p>No games found for this genre.</p>
    <% } %>
  </div>
</main>
<%- include('../partials/footer') %>