<%- include('../partials/header') %>
<main>
  <div class="genre-detail">
    <h1><%= genreName %></h1>
    <div class="genre-buttons">
      <button command="show-modal" commandfor="edit-genre">
        EDIT
      </button>
      <button command="show-modal" commandfor="delete">
        DELETE
      </button>
    </div>
    <h2>Games in this genre:</h2>
    <div class="game-grid">
      <% if (games && games.length > 0) { %>
        <% games.forEach(game => { %>
          <div class="game-card" style="background-image: url('<%= game.background %>');">
            <a href="/games/<%= game.id %>">
              <img src="<%= game.image %>" alt="<%= game.name %>">
            </a>
            <h2>
              <a href="/games/<%= game.id %>">
                <% if (game.name.length > 38) { %>
                  <%= game.name.substring(0, 36) %>...
                <% }  else { %>
                  <%= game.name %>
                <% } %>
              </a>
            </h2>
          </div>
        <% }); %>
      <% } else { %>
        <p>No games found for this genre.</p>
      <% } %>
    </div>
  </div>
  <%- include('../partials/deleteItem') %>
  <%- include('../partials/editGenre') %>
</main>
<%- include('../partials/footer') %>