<%- include('../partials/header') %>
<main>
  <div class="genre-detail">
    <h1><%= genreName %></h1>
    <div class="genre-buttons">
      <button onclick="">EDIT</button>
      <button onclick="">DELETE</button>
    </div>
    <h2>Games in this genre:</h2>
    <div class="game-grid">
      <% if (games && games.length > 0) { %>
        <% games.forEach(game => { %>
          <div class="game-card" style="background-image: url('<%= game.background %>');">
            <a href="/games/<%= game.id %>">
              <img src="<%= game.image %>" alt="<%= game.name %>">
            </a>
            <h2><a href="/games/<%= game.id %>"><%= game.name %></a></h2>
          </div>
        <% }); %>
      <% } else { %>
        <p>No games found for this genre.</p>
      <% } %>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>