<%- include('../partials/header') %>
<main>
  <h1><%= isSearch ? 'Search Results' : 'Games' %></h1>
  <ul>
    <% const items = isSearch ? results : games; %>
    <% if (items && items.length > 0) { %>
      <% items.forEach(items => { %>
        <li style="background-image: url('<%= items.background %>');">
          <img src="<%= items.image %>" alt="">
          <p>Game: <%= items.name %></p> 
          <p>Description: <%= items.description %></p>
        </li>
      <% }); %>
    <% } %>
  </ul>
</main>
<%- include('../partials/footer') %>