<%- include('../partials/header') %>
<main>
  <% if (isSearch) { %>
    <div class="search-results">
      <h1>Search Results</h1>
      <% if (results.length === 0) { %>
        <p>No games found.</p>
        <a href="/">Back to home</a>
      <% } else { %>
        <div class="game-grid">
          <% results.forEach(result => { %>
          <div class="game-card" style="background-image: url('<%= result.background %>');">
            <a href="/games/<%= result.id %>">
              <img src="<%= result.image %>" alt="<%= result.name %>">
            </a>
            <h2><a href="/games/<%= result.id %>"><%= result.name %></a></h2>
          </div>
        <% }); %>
        </div>
      <% } %>
    </div>
  <% } else { %>
    <div class="highlight">
      <section class="highlight-game">
        <h1>Game of the Moment</h1>
        <div class="highlight-card" style="background-image: url('<%= highlight.g_bgd %>');">
          <div class="highlight-image">
            <a href="/games/<%= highlight.g_id %>">
              <img src="<%= highlight.g_img %>" alt="<%= highlight.g_name %>">
            </a>
          </div>
          <div class="highlight-info">
            <h2>
              <a href="/games/<%= highlight.g_id %>"><%= highlight.g_name %></a>
            </h2>
            <p class="desc">
              <%= highlight.g_desc.substring(0, 150) %>... <a href="/games/<%= highlight.g_id %>">Details</a>
            </p>
          </div>
        </div>
      </section>
      <section class="highlight-dev-genre">
        <div class="try-dev">
          <h2>Try this Developer:</h2>
          <a href="/developers/<%= highlight.d_id %>"><%= highlight.d_name %></a>
        </div>
        <div class="explore-genre">
          <h2>Explore Genre:</h2>
          <a href="/genres/<%= highlight.gen_id %>"><%= highlight.gen_name %></a>
        </div>
      </section>
      <section class="highlight-explore-all">
        <h2>Explore:</h2>
        <div class="explore-links">
          <a href="/games">GAMES</a>
          <a href="/developers">DEVELOPERS</a>
          <a href="/genres">GENRES</a>
        </div>
      </section>
    </div>
  <% } %>
</main>
<%- include('../partials/footer') %>